:root{
--primary-color:#FF7070;
--secondary-color:#66CCCC;
--tertiary-color:#FFCC33;
--text-white:rgb(248, 239, 239);
--large-text:2rem;
--small-text:0.9rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    
}
nav{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    width: 100vh;
    align-items: center;
    height: 20vh;
    
    /* border: 1px solid black; */
    background-color: rgb(11, 78, 133);
    /* flex-wrap: wrap; */
}

.logo{
    margin-right: auto;
    text-align: center;
    margin-left: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 10px 0;
}
nav ul li a{
   
    text-transform: capitalize;
    font-size: var(--small-text);
    text-decoration: none;
    text-align: center;
}

nav ul li a:link,nav ul li a:visited{
    color:var(--text-white);
   
    padding: 10px 20px;
   
}
nav ul li a:hover,nav ul li a:active{
    color:var(--text-white);
    background-color: var(--primary-color);
    padding: 10px 20px;
   
}
.hero{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 80vh;
}
.hero div img{
    width: 100%;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content h1{
    text-align: center;
    padding: 10px;

}
.content p{
    text-align: justify;
    padding: 10px;
}
.btn-primary{
    background-color: var(--primary-color);
    width: 50%;
    border: none;
    height: 30px;
    color: var(--text-white);
    margin-top: 10px;
}
@media screen and (max-width:546px){
   nav{
    /* flex-wrap: wrap; */
    flex-direction: column;
   }
    .logo{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .content{
        background-color: rgba(0, 0, 0, 0.829);
        color: var(--text-white);
    }
.btn-primary{
    width: 90%;
    margin-bottom: 20px;
}

}
/* form  */
#contact{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding: 20px 0;
   
}
.form input,textarea{
    padding-top: 10px;
    display: block;
    width: 300px;
}
.form input{
    width: 100%;
    height: 40px;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    flex-basis: 100%;
}
.form label{
    font-weight: 500;
    font-size: large;
}
.form textarea{
    outline: none;
    border: 2px solid black;
    text-align: center;
}
.btn-submit{
    background-color: var(--primary-color);
    width: 90%;
    display: block;
    margin:0 auto;
    margin-top: 10px;
    height: 30px;
    border: none;
    text-align: center;
    color: var(--text-white);
}
input::placeholder{
    color: white;
    text-align: center;
    font-size:large;
}