@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital@1&family=Roboto+Mono:wght@100&display=swap');

:root {
  --primary-color: #1114c4b7;
  --secondary-color: #66cccc;
  --tertiary-color: #ffcc33;
  --text-white: rgba(248, 239, 239, 0.733);
  --text-dark: rgba(14, 1, 1, 0.897);
  --large-text: 2rem;
  --small-text: 0.9rem;
  --font-root: 16px;
  --back-color: rgba(3, 37, 65, 0.979);
  --back-light-color: rgba(1, 18, 32, 0.459);
}
html {
  font-size: var(--font-root);
  font-family: 'Inter', sans-serif;
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  position: relative;
  border: 2px solid;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--back-color);
  gap: 2em;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 2px solid; */
  height: 100%;
  /* position:fixed; */

 max-width: 200px;
  padding: 2em 1em; 
  background-color: var(--back-light-color);
}
.sidebar .logo {
  font-size: 1.5rem;
  color: var(--text-white);
  white-space: nowrap;
  align-self: center;
}
.sidebar .navbar .nav-list {
  list-style: none;
  align-self: flex-start;
}
.sidebar .navbar .nav-list .nav-list-item {
  display: block;
  padding: 1em 1em;
  font-weight: 500;
}
.sidebar .navbar .nav-list .nav-list-item .nav-link {
  color: var(--text-white);
  text-align: start;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: .9rem;
}
.sidebar .navbar .nav-list .nav-list-item:hover{
background-color: var(--text-white);
}
.sidebar .navbar .nav-list .nav-list-item:hover .nav-link{
    color: var(--text-dark);
}
.fa-address-card{
    font-size: 20px!important;
    margin-right: 1em;
}
.fa-address-book{
    font-size: 20px!important;
    margin-right: 1em;
}
.fa-home{
    font-size: 20px!important;
    margin-right: 1em;
}
.fa-rss{
    font-size: 20px!important;
    margin-right: 1em;
}
.sidebar .social-media-list {
  list-style: none;
}
.sidebar .social-media-list .social-media-list-item {
  display: block;
  padding: 1em 1em;
}

.sidebar .social-media-list .social-media-list-item .social-media-link {
  color: var(--text-white);
  text-align: start;
  text-decoration: none;
  display: block;
  font-size: .7rem;
  font-weight: 600;
}.sidebar .social-media-list .social-media-list-item:hover{
    background-color: var(--text-white);

}
.sidebar .social-media-list .social-media-list-item:hover .social-media-link{
    color: var(--text-dark);

}
.fa-facebook{
    font-size: 20px!important;
    margin-right: 1em;
}
.fa-whatsapp{
    font-size: 20px!important;
    margin-right: 1em;
}
.fa-linkedin{
    font-size: 20px!important;
    margin-right: 1em;
}
.fa-envelope{
    font-size: 20px!important;
    margin-right: 1em;
}




.main-content {

  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-self: flex-end;
  width: 70%;
  align-self: center;
  justify-self: center;
  margin: 0 auto 0 auto;
  height: 70%;
  text-align: start;
  color: var(--text-white);
  padding: 2em;

}
.box-shadow{
    box-shadow: rgb(116, 161, 209) 10px 20px 50px -10px;
}
.main-content .greetings h3{
padding: .2em 0;
}
.main-content .greetings h3 b{
    color: var(--tertiary-color);
    font-size: 2rem;
    
    padding-left: .5em;
    padding-bottom: 1em;
}
@media screen and (max-width:600px){
    .container{
      
    }
    .sidebar{
        width: 80px;
        /* justify-content: center; */
        align-items: center;
        overflow: scroll;
    }
    .sidebar .logo{
        font-size: 16px;
    }
    .d-none{
        display: none;
    }
.main-content{
    margin-right: 2em;
    white-space: normal;
    text-align: justify;
}
}