:root {
  --primary-color: #1114c4b7;
  --secondary-color: #66cccc;
  --tertiary-color: #ffcc33;
  --text-white: rgba(248, 239, 239, 0.733);
  --text-dark: rgba(14, 1, 1, 0.897);
  --large-text: 2rem;
  --small-text: 0.9rem;
  --font-root: 16px;
  --back-color: rgba(3, 37, 65, 0.979);
  --back-light-color: rgba(1, 18, 32, 0.459);
}
html {
  font-size: var(--font-root);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  position: relative;
  border: 2px solid;
  display: flex;
  height: 100vh;
  /* justify-content: space-between; */
  align-items: flex-start;
  background-color: var(--back-color);
  gap: 2em;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 2px solid; */
  height: 100%;
  position: relative;
  max-width: 200px;
  padding: 2em 0; 
  background-color: var(--back-light-color);
}
.sidebar .logo {
  font-size: 1.5rem;
  color: var(--text-white);
  white-space: nowrap;
  align-self: center;
}
.sidebar .navbar .nav-list {
  list-style: none;
  align-self: flex-start;
}
.sidebar .navbar .nav-list .nav-list-item {
  display: block;
  padding: 1em 3.5em;
}
.sidebar .navbar .nav-list .nav-list-item .nav-link {
  color: var(--text-white);
  text-align: start;
  text-decoration: none;
  display: block;
  text-align: left;
}
.sidebar .navbar .nav-list .nav-list-item:hover{
background-color: var(--text-white);
}
.sidebar .navbar .nav-list .nav-list-item:hover .nav-link{
    color: var(--text-dark);
}
.sidebar .social-media-list {
  list-style: none;
}
.sidebar .social-media-list .social-media-list-item {
  display: block;
  padding: 1em 3.5em;
}

.sidebar .social-media-list .social-media-list-item .social-media-link {
  color: var(--text-white);
  text-align: start;
  text-decoration: none;
  display: block;
}.sidebar .social-media-list .social-media-list-item:hover{
    background-color: var(--text-white);

}
.sidebar .social-media-list .social-media-list-item:hover .social-media-link{
    color: var(--text-dark);

}

.main-content {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-self: center;
  width: 60%;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}
